<?xml version="1.0"?>
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <system.webServer>
    <handlers>
      <add name="ExampleHandler"
           verb="GET"
           path="/"
           type="Centaur.ExampleWebApp.ExampleHandler, Centaur.ExampleWebApp, Version=1.0.0.0, Culture=neutral" />
    </handlers>
  </system.webServer>
</configuration>
